.book-interface {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.book-interface .interface-container {
    position: fixed;
    background-color: rgba(255, 255, 255);
    padding: 15px;
    border-radius: 6px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    pointer-events: all;
}

@media screen and (orientation: portrait) {
    .book-interface .interface-container {
        bottom: 10px;
        left: 50%;
        transform: translate(-50%);
        width: 90%;
        max-width: 800px;
    }
}
  
@media screen and (orientation: landscape) {
    .book-interface .interface-container {
        top: 50%;
        transform: translate(0%, -50%);
        right: 10px;
        width: 40%;
        height: 85%;
        max-height: 300px;
        max-width: 350px;
    }
}  

.book-interface .header-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.book-interface .close-button {
    position: absolute;
    left: 0;
    cursor: pointer;
    color: #ff0000;
    font-size: 22px;
}

.book-interface .book-title {
    font-size: 15px;
    max-width: 70%;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}


.book-interface .content-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.book-interface .book-cover {
    margin-right: 20px;
}

.book-interface .book-details {
    display: flex;
    flex-direction: column;
    flex: 1;
    font-size: 14px;
}

.book-interface .book-details > div {
    margin-bottom: 12px;
}


.book-interface .book-details .author-title,
.book-interface .book-details .publication-title,
.book-interface .book-details .status-title,
.book-interface .book-details .call-number-title {
    font-weight: bold;
}

.book-interface .book-cover img {
    max-width: 150px;
    height: auto;
    border-radius: 5px;
}
