.global-interface {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.global-interface .global-interface-header {
    position: fixed;
    top: 10px;
    height: 45px;
    background-color: rgba(255, 255, 255, 1);
    color: #2c2c2c;
    border-radius: 50px 50px 50px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    font-family: Arial, Helvetica, sans-serif;
}

@media screen and (orientation: portrait) {
    .global-interface .global-interface-header {
        width: 90%;
        left: 50%;
        transform: translateX(-50%);
    }
}
  
@media screen and (orientation: landscape) {
    .global-interface .global-interface-header {
        width: 50%;
        left: 20px;
        transform: none;
    }
}  

.global-interface .view-mode-icon,
.global-interface .floors-icon {
    position: fixed;
    width: 50px;
    height: 50px;
    background-color: rgba(230, 230, 230, 1); 
    color: #2c2c2c;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: all;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.global-interface .view-mode-icon {
    bottom: 20px;
    left: 15px;
}

.global-interface .floors-icon {
    bottom: 20px;
    right: 15px;
}

.global-interface .view-mode-icon svg,
.global-interface .floors-icon svg {
    width: 22px;
    height: 22px;
}

.global-interface .floor
{
    width: 40px;
    height: 40px;
    background-color: rgba(255, 255, 255, 1); 
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: all;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(59, 59, 59, 0.3);
    font-family: Arial, Helvetica, sans-serif;
}

.global-interface .floors {
    position: fixed;
    bottom: 80px; 
    right: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    pointer-events: all;
}

.global-interface .floor:not(:first-child) {
    margin-top: 7px;
}

.global-interface .floor:last-child {
    margin-bottom: 5px;
}

.global-interface .global-interface-header .back-icon svg {
    position: absolute;
    left: 20px;
    bottom: 11px;
    color: #202020;
    width: 22px;
    height: 22px;
    pointer-events: all;
}