.section-interface {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.section-interface .section-interface-header {
    position: fixed;
    top: 65px;
    height: 28px;
    transform: translateX(-50%);
    padding: 0 30px;
    background-color: rgba(255, 255, 255, 0.9);
    color: #2c2c2c;
    border-radius: 50px 50px 50px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
}

@media screen and (orientation: portrait) {
    .section-interface .section-interface-header {
        width: 75%;
        left: 50%;
        transform: translateX(-50%);
    }
}
  
@media screen and (orientation: landscape) {
    .section-interface .section-interface-header {
        width: 50%;
        left: 20px;
        transform: none;
    }
}  

.section-interface .section-title {
    font-weight: bold;
    margin-right: 5px; 
    text-transform: uppercase;
}
