.form-container-library {
    margin: 20px;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.form-container-library label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    font-size: 18px;
}

.form-container-library select {
    width: 100%;
    padding: 10px;
    font-size: 1em;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
    transition: border-color 0.3s;
}

.form-container-library select:focus {
    border-color: #007bff;
    outline: none;
}