.form-container {
    padding: 20px;
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 95%;
    margin: 10px auto;
    height: 51vh;
    font: 15px Arial, sans-serif;
}

.form-container label {
    display: block;
    font-weight: bold;
    color: #333;
    margin-top: 10px;
}

.form-container input[type="text"],
.form-container input[type="number"],
.form-container input[type="color"],
.form-container input[type="file"],
.form-container select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.form-row {
    display: flex;
    justify-content: space-between;
}

.form-column {
    width: 32%;
}

.form-columns {
    display: flex;
    justify-content: space-between;
}

.column {
    width: 48%;
}

.checkbox-group {
    display: flex;
    align-items: center;
}

.slider-container {
    margin-top: 35px;
}

.start, .end {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    padding: 8px;
    margin-top: 5px;
}

.form-footer {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.form-footer button {
    width: 100%;
    padding: 8px;
}
